//Order Details Page -Voucher Ids
.listVoucherIds:hover {
  color: red;
  //   text-decoration: underline;
  cursor: pointer;
}

//Voucher DEtails Page - Voucher Link
.voucherLink {
  color: #0000ee;
}
.voucherLink:hover {
  color: red;
  cursor: pointer;
}
